<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appKey</key>
	<string>3184199435964c62a01af25ce686f495</string>
	<key>appSecret</key>
	<string>5b1951baf61bf66a7c230ef0ae96c4ce</string>
	<key>rootUrl</key>
	<string>https://open.ys7.com/api/lapp</string>
</dict>
</plist>
